$spink: #fbb6d1;
$spink2: #d499b5;
$spurple: #191C2C;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Schibsted Grotesk", sans-serif;
  }
  
  #loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #191C2C; /* Optional background overlay */
    display: flex;
    justify-content: center; /* Horizontally center the wrapper */
    align-items: center; /* Vertically center the wrapper */
    z-index: 9999;
    opacity: 1; /* Fully visible by default */
    transition: opacity 1s ease; /* Fade-out effect */
  }
  
  #loading-spinner .gif-wrapper {
    position: relative; /* Allows positioning of the GIF */
  }
  
  #loading-spinner img {
    max-width: 100%; /* Ensure the GIF scales properly */
    max-height: 100%; /* Ensure the GIF scales properly */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    position: relative;
    left: 0px; /* Move the GIF slightly to the right */
  }
  
  
  .container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;
  }
  @media (max-width: 1024px) {
    .container {
      padding-left: 64px;
      padding-right: 64px;
    }
  }
  @media (max-width: 1024px) {
    .container {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  
  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    padding: 8px 0;
  
    .bar,
    &:after,
    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 6px;
      background-color: #FFF;
      margin: 5px 0;
      transition: 0.4s;
    }
  
    &.is-active {
      &:before {
        transform: rotate(-45deg) translate(-8px, 6px);
      }
  
      &:after {
        transform: rotate(45deg) translate(-9px, -8px);
      }
  
      .bar {
        opacity: 0;
      }
    }
  }
  
  .mobile-nav {
    position: fixed;
    top: -100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #191C2C;
    padding-top: 120px;
    transition: 0.4s;
  }
  
  .mobile-nav.is-active {
    top: 0;
  }
  
  .mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: $spink;
    border-radius: 25px;
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }
  
  .mobile-nav a:hover {
    background-color: #3c415f;
  }
  
  @media (max-width: 1024px) {
    #active {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    #inactive {
      display: none;
    }
    .mobile-nav {
      display: none;
    }
    .hamburger {
      display: none;
    }
  }
  section h2 {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    color: #313131;
    font-size: 36px;
  }
  
  .button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    background-color: $spink;
    padding: 12px 16px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
  
    @media (max-width: 1024px) {
      font-size: 18px;
    }
  }
  
  img {
    max-width: 100%;
  }
  
  header {
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #191C2C;
  
    .container {
      padding-top: 0px;
      padding-bottom: 0px;
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      @media (max-width: 1024px) {
        justify-content: start;
      }
  
      #logo1 {
        width: 13vh;
        height: 13vh;
        margin: auto;
        border-radius: 100px;
        background: url(../img/kailogo1.webp) no-repeat center;
        background-size: contain;
      }
  
      #logo2 {
        width: 8vh;
        height: 8vh;
        margin: auto;
        border-radius: 100px;
        background: url(../img/kailogo1.webp) no-repeat center;
        background-size: contain;
      }
  
      #inactive {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 100px;
        width: 100%;
        position: relative;
      }
  
      .hamburger {
        position: absolute;
        left: 10px;
      }
  
      nav {
        display: grid;
        grid-gap: 100px;
        grid-template-columns: repeat(5, auto);
        align-items: center;
  
        @media (max-width: 1024px) {
          display: none;
        }
  
        a {
          color: inherit;
          font-size: 24px;
        font-weight: 500;
          text-align: center;
          text-decoration: none;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 50%;
          position: relative;
          transition: color 0.3s;

          &:not(#logo1){
            max-width: 80px;
          }
  
          &:not(#logo1):after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: $spink2;
            transition: width 0.3s ease, left 0.3s ease;
          }
  
          &:hover {
            color: $spink2;
  
            &:not(#logo1):after {
          width: 100%;
          left: 0;
            }
          }
        }
      }
    }
  }
    
  
  .gallery {
    padding-top: 160px;
    padding-bottom: 64px;
    background-color: #191C2C;

    h2 {
      color: #FFF;
      padding-bottom: 64px;
      margin-bottom: auto;
      font-size: 50px;
    }

    .gallery-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 16px;
      margin-bottom: 20px;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }

      .gallery-item {
        &.hidden {
          position: relative;
          overflow: hidden;
          opacity: 0;
          transition: all 1s;

          .content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .hover-icon {
          position: absolute;
          top: 12px;
          right: 12px;
          font-size: 20px;
          color: rgba(255, 255, 255, 0.85);
          background-color: rgba($spink2, 0.8);
          padding: 10px;
          border-radius: 100%;
          z-index: 2;
          transition: transform 0.3s ease, opacity 0.3s ease;
          pointer-events: none; // So it doesn't block hover on the image
      
        
          @media (max-width: 768px) {
            font-size: 20px;
            top: 8px;
            right: 8px;
          }
        }

        img {
          width: 100%;
          height: auto;
          transition: transform 0.4s ease;
        }

        .hover-card {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          background-color: rgba($spink, 0.8);
          color: #ffffff;
          opacity: 0;
          transition: opacity 0.4s ease;
          text-align: center;
          padding: 16px;
          text-decoration: none;
        }

        &:hover {
          img {
            transform: scale(1.1);
          }

          .hover-card {
            opacity: 1;

            
          }

          .hover-icon {
            opacity: 0;
          }

          .buttonp {
            opacity: 1;
              }
        }

        h3 {
          font-size: 40px;
          margin-bottom: 8px;
        }

        p {
          font-size: 20px;
          margin: 4px 0;
          transition: opacity 0.4s ease;
        }

        #type {
          font-weight: 700;
        }

        .buttonp {
          appearance: none;
          border: none;
          outline: none;
          background: none;
          display: inline-block;
          color: #FFF;
          font-size: 20px;
          padding: 12px 16px;
          border-radius: 8px;
          text-decoration: none;
          text-transform: uppercase;
          font-weight: 700;
          cursor: pointer;
          position: absolute;
          bottom: 10%;
          padding: 0.75rem 1.5rem;
          color: #191C2C;
          text-decoration: none;
          border-radius: 5px;
          transition: color 0.3s, opacity 0.4s ease;
          opacity: 0;

          @media (max-width: 1024px) {
            font-size: 18px;
          }

          &:hover {
            color: $spink2;
          }
        }
          }
        }

        &.show {
          opacity: 1;
        }
      }
    }

   
  }
  .contact {
    background-color: #191C2C;
    min-height: 20vh; // Ensure the background fills the entire viewport height
    display: flex; // Use flexbox for centering
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically

    .container {
      padding-top: 128px;
      padding-bottom: 128px;

      &.hidden {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.6s ease-in-out, transform 1s ease-in-out;
      }
  
      &.show {
        opacity: 1;
        transform: translateY(0);
      }

      .button-group {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-bottom: 20px;
      }
      
      .circle-button {
        width: 50px;
        height: 50px;
        background-color: $spink;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: background-color 0.3s;
      
        &:hover {
          background-color: $spink2;
        }
      
        img {
          width: 24px;
          height: 24px;
        }
      }

      h2 {
        color: #FFF;
      }

      

      .center {
        padding-bottom: 20px;
        text-align: center;
        .button{
          transition: background-color 0.3s;
          color: #191C2C;
          &:hover {
            background-color: #d499b5;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .hide-mob {
      display: none;
    }
  }