$spink: #fbb6d1;
$spink2: #d499b5;
$spurple: #191C2C;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Schibsted Grotesk", sans-serif;
  }
  
  #loading-spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #191C2C; /* Optional background overlay */
    display: flex;
    justify-content: center; /* Horizontally center the wrapper */
    align-items: center; /* Vertically center the wrapper */
    z-index: 9999;
    opacity: 1; /* Fully visible by default */
    transition: opacity 1s ease; /* Fade-out effect */
  }
  
  #loading-spinner .gif-wrapper {
    position: relative; /* Allows positioning of the GIF */
  }
  
  #loading-spinner img {
    max-width: 100%; /* Ensure the GIF scales properly */
    max-height: 100%; /* Ensure the GIF scales properly */
    width: auto; /* Maintain aspect ratio */
    height: auto; /* Maintain aspect ratio */
    position: relative;
    left: 0px; /* Move the GIF slightly to the right */
  }

  
  
  
  .container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;
  }
  @media (max-width: 1024px) {
    .container {
      padding-left: 64px;
      padding-right: 64px;
    }
  }
  @media (max-width: 1024px) {
    .container {
      padding-left: 32px;
      padding-right: 32px;
    }
  }
  
  .hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  
  .hamburger .bar,
  .hamburger:after,
  .hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 6px;
    background-color: #FFF;
    margin: 5px 0px;
    transition: 0.4s;
  }
  
  .hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
  }
  
  .hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
  }
  
  .hamburger.is-active .bar {
    opacity: 0;
  }
  
  .mobile-nav {
    position: fixed;
    top: -100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #191C2C;
    padding-top: 120px;
    transition: 0.4s;
  }
  
  .mobile-nav.is-active {
    top: 0;
  }
  
  .mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
    padding: 12px 16px;
    background-color: $spink;
    border-radius: 25px;
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }
  
  .mobile-nav a:hover {
    background-color: #3c415f;
  }
  
  @media (max-width: 1024px) {
    #active {
      display: none;
    }
  }
  @media (min-width: 1024px) {
    #inactive {
      display: none;
    }
    .mobile-nav {
      display: none;
    }
    .hamburger {
      display: none;
    }
  }
  section h2 {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    color: #313131;
    font-size: 36px;
  }
  
  .button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    background-color: $spink;
    padding: 12px 16px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
  
    @media (max-width: 1024px) {
      font-size: 18px;
    }
  }

  
  
  img {
    max-width: 100%;
  }
  
  header {
    color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    background-color: #191C2C;
  
    .container {
      padding-top: 0px;
      padding-bottom: 0px;
      display: flex;
      justify-content: space-around;
      align-items: center;
  
      @media (max-width: 1024px) {
        justify-content: start;
      }
  
      #logo1 {
        width: 13vh;
        height: 13vh;
        margin: auto;
        border-radius: 100px;
        background: url(../img/kailogo1.webp) no-repeat center;
        background-size: contain;
      }
  
      #logo2 {
        width: 8vh;
        height: 8vh;
        margin: auto;
        border-radius: 100px;
        background: url(../img/kailogo1.webp) no-repeat center;
        background-size: contain;
      }
  
      #inactive {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 100px;
        width: 100%;
        position: relative;
      }
  
      .hamburger {
        position: absolute;
        left: 10px;
      }
  
      nav {
        display: grid;
        grid-gap: 100px;
        grid-template-columns: repeat(5, auto);
        align-items: center;
  
        @media (max-width: 1024px) {
          display: none;
        }
  
        a {
          color: inherit;
          font-size: 24px;
        font-weight: 500;
          text-align: center;
          text-decoration: none;
          display: inline-flex;
          justify-content: center;
          align-items: center;
          height: 50%;
          position: relative;
          transition: color 0.3s;

          &:not(#logo1){
            max-width: 80px;
          }
  
          &:not(#logo1):after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            background-color: $spink2;
            transition: width 0.3s ease, left 0.3s ease;
          }
  
          &:hover {
            color: $spink2;
  
            &:not(#logo1):after {
          width: 100%;
          left: 0;
            }
          }
        }
      }
    }
  }
  
  

 

/* ========================services=========================== */

.banner {
  width: 100%;
  padding-top: 160px;
  background: $spurple;

  .container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    max-height: auto;

    .left {
      flex: 1;
      display: flex;
      flex-direction: column;

      .left-item {
        flex: 0;
        display: flex;
        align-items: center;
        justify-content: start;
        text-align:start;
        padding-top: 20px;
        box-sizing: border-box;
        color: #FFF;
        cursor:auto;

        &.subtitle{
          font-size: 30px;
          margin: 0;
          display: flex;
          align-items: center;
          font-weight: 500;
          color: $spink2;
        }

        &.subtext{
          font-size: 20px;
          margin: 0;
          display: flex;
          align-items: center;
          font-weight: 300;
          color: #FFF;
        }
        &.price{
          font-weight: bolder;
        }
        

        &.title {
          font-size: 40px;
            margin: 0;
            display: flex;
            align-items: center;
            font-weight: 600;
            border-bottom: 10px solid #F5C0D9; // Add a line under the card
            
        }
      }
    }

    .right {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;

      img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }
  }

  // Mobile styles
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      height: auto;

      .left, .right {
        width: 100%;
      }

      .left {
        .left-item {
          height: auto; // Let content size it
        }

        .title {
          order: -1; // Push title to top
        }
      }

      .right {
        padding: 1rem 0;
      }
    }
  }
}








  /* ========================contact=========================== */
  
  
  .contact {
    background-color: #191C2C;
    min-height: 20vh; // Ensure the background fills the entire viewport height
    display: flex; // Use flexbox for centering
    justify-content: center; // Center horizontally
    align-items: center; // Center vertically

    .container {
      padding-top: 128px;
      padding-bottom: 128px;

      &.hidden {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.6s ease-in-out, transform 1s ease-in-out;
      }
  
      &.show {
        opacity: 1;
        transform: translateY(0);
      }

      .button-group {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-bottom: 20px;
      }
      
      .circle-button {
        width: 50px;
        height: 50px;
        background-color: $spink;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        transition: background-color 0.3s;
      
        &:hover {
          background-color: $spink2;
        }
      
        img {
          width: 24px;
          height: 24px;
        }
      }

      h2 {
        color: #FFF;
      }

      

      .center {
        padding-bottom: 20px;
        text-align: center;
        .button{
          transition: background-color 0.3s;
          color: #191C2C;
          &:hover {
            background-color: #d499b5;
          }
        }
      }
    }
  }

  @media (max-width: 767px) {
    .hide-mob {
      display: none;
    }
  }
