* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Schibsted Grotesk", sans-serif;
}

#loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191C2C; /* Optional background overlay */
  display: flex;
  justify-content: center; /* Horizontally center the wrapper */
  align-items: center; /* Vertically center the wrapper */
  z-index: 9999;
  opacity: 1; /* Fully visible by default */
  transition: opacity 1s ease; /* Fade-out effect */
}

#loading-spinner .gif-wrapper {
  position: relative; /* Allows positioning of the GIF */
}

#loading-spinner img {
  max-width: 100%; /* Ensure the GIF scales properly */
  max-height: 100%; /* Ensure the GIF scales properly */
  width: auto; /* Maintain aspect ratio */
  height: auto; /* Maintain aspect ratio */
  position: relative;
  left: 0px; /* Move the GIF slightly to the right */
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media (max-width: 1024px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}
.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background-color: #FFF;
  margin: 5px 0px;
  transition: 0.4s;
}

.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: -100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #191C2C;
  padding-top: 120px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  top: 0;
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #191C2C;
  border-radius: 25px;
  color: #FFF;
  text-decoration: none;
}

.mobile-nav a:hover {
  background-color: #3c415f;
}

@media (max-width: 1024px) {
  #active {
    display: none;
  }
}
@media (min-width: 1024px) {
  #inactive {
    display: none;
  }
  .mobile-nav {
    display: none;
  }
  .hamburger {
    display: none;
  }
}
section h2 {
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #313131;
  font-size: 36px;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  color: #FFF;
  font-size: 20px;
  background-color: #F5C0D9;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .button {
    font-size: 18px;
  }
}
img {
  max-width: 100%;
}

header {
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: #191C2C;
}
header .container {
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1024px) {
  header .container {
    justify-content: start;
  }
}
header .container #logo1 {
  width: 13vh;
  height: 13vh;
  margin: auto;
  border-radius: 100px;
}
header .container #logo2 {
  width: 8vh;
  height: 8vh;
  margin: auto;
  border-radius: 100px;
}
header .container #inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  width: 100%;
  position: relative;
}
header .container .hamburger {
  position: absolute;
  left: 10px;
}
header .container nav {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(5, auto);
  align-items: center;
}
@media (max-width: 1024px) {
  header .container nav {
    display: none;
  }
}
header .container nav a {
  color: inherit;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  position: relative;
  transition: color 0.3s;
}
header .container nav a:not(#logo1):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #d499b5;
  transition: width 0.3s ease, left 0.3s ease;
}
header .container nav a:hover {
  color: #d499b5;
}
header .container nav a:hover:not(#logo1):after {
  width: 100%;
  left: 0;
}

.contact {
  background-color: #191C2C;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 160px;
}
.contact .container {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
}
.contact .container.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-in-out, transform 1s ease-in-out;
}
.contact .container.show {
  opacity: 1;
  transform: translateY(0);
}
.contact .container .button-group {
  padding-top: 40px;
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}
.contact .container .circle-button {
  width: 100px;
  height: 100px;
  background-color: #fbb6d1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s;
}
.contact .container .circle-button:hover {
  background-color: #d499b5;
}
.contact .container .circle-button img {
  width: 24px;
  height: 24px;
}
.contact .container h2 {
  color: #FFF;
  margin-bottom: 32px;
}
.contact .container form {
  display: block;
  margin: 0 auto;
  max-width: 680px;
  border-bottom: 5px solid #fbb6d1;
  padding-bottom: 20px;
}
.contact .container form .form-grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 16px;
}
@media (max-width: 767px) {
  .contact .container form .form-grid {
    grid-template-columns: 1fr;
  }
}
.contact .container form .form-grid .form-element,
.contact .container form .form-grid .form-area {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  display: block;
  width: 100%;
  background-color: #FFF;
  border-radius: 8px;
  padding: 16px;
  font-size: 20px;
  color: #313131;
}
.contact .container form .form-grid .form-element::-moz-placeholder, .contact .container form .form-grid .form-area::-moz-placeholder {
  color: #AAA;
}
.contact .container form .form-grid .form-element::placeholder,
.contact .container form .form-grid .form-area::placeholder {
  color: #AAA;
}
.contact .container form .form-grid .form-area {
  grid-column: 1/-1;
}
.contact .container form .right-align {
  padding-bottom: 20px;
  text-align: right;
}
.contact .container form .right-align .button {
  transition: background-color 0.3s;
  color: #191C2C;
}
.contact .container form .right-align .button:hover {
  background-color: #d499b5;
}
.contact .container .center {
  padding-bottom: 20px;
  text-align: center;
}
.contact .container .center .button {
  transition: background-color 0.3s;
  color: #191C2C;
}
.contact .container .center .button:hover {
  background-color: #d499b5;
}

@media (max-width: 767px) {
  .hide-mob {
    display: none;
  }
}/*# sourceMappingURL=contact.css.map */