* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Schibsted Grotesk", sans-serif;
  /* For Firefox */
  scrollbar-width: thin;
  scrollbar-color: #d499b5 #191C2C;
}

/* For Webkit browsers (Chrome, Edge, Safari) */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d499b5;
  border-radius: 6px;
  border: 3px transparent;
}

#loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #191C2C;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 1;
  transition: opacity 1s ease;
}
#loading-spinner .gif-wrapper {
  position: relative;
}
#loading-spinner img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  position: relative;
  left: 0px;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}
@media (max-width: 1024px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
  padding: 8px 0;
}
.hamburger .bar, .hamburger:after, .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background-color: #FFF;
  margin: 5px 0;
  transition: 0.4s;
}
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-9px, -8px);
}
.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  top: -100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #191C2C;
  padding-top: 120px;
  transition: 0.4s;
}
.mobile-nav.is-active {
  top: 0;
}
.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #fbb6d1;
  border-radius: 25px;
  color: #FFF;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}
.mobile-nav a:hover {
  background-color: #3c415f;
}

@media (max-width: 1024px) {
  #active {
    display: none;
  }
}
@media (min-width: 1024px) {
  #inactive {
    display: none;
  }
  .mobile-nav,
  .hamburger {
    display: none;
  }
}
section h2 {
  text-align: center;
  margin-bottom: 32px;
  text-transform: uppercase;
  color: #313131;
  font-size: 36px;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  color: #FFF;
  font-size: 20px;
  background-color: #fbb6d1;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .button {
    font-size: 18px;
  }
}

.button-group {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.circle-button {
  width: 50px;
  height: 50px;
  background-color: #fbb6d1;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: background-color 0.3s;
}
.circle-button:hover {
  background-color: #d499b5;
}
.circle-button img {
  width: 24px;
  height: 24px;
}

img {
  max-width: 100%;
}

header {
  color: #FFF;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  background-color: rgb(25, 28, 44);
}
header .container {
  padding-top: 0px;
  padding-bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
@media (max-width: 1024px) {
  header .container {
    justify-content: start;
  }
}
header .container #logo1 {
  width: 13vh;
  height: 13vh;
  margin: auto;
  border-radius: 100px;
  background: url(../img/kailogo1.jpg) no-repeat center;
  background-size: contain;
}
header .container #logo2 {
  width: 8vh;
  height: 8vh;
  margin: auto;
  border-radius: 100px;
  background: url(../img/kailogo1.jpg) no-repeat center;
  background-size: contain;
}
header .container #inactive {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 100px;
  width: 100%;
  position: relative;
}
header .container .hamburger {
  position: absolute;
  left: 10px;
}
header .container nav {
  display: grid;
  grid-gap: 100px;
  grid-template-columns: repeat(5, auto);
  align-items: center;
}
@media (max-width: 1024px) {
  header .container nav {
    display: none;
  }
}
header .container nav a {
  color: inherit;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  position: relative;
  transition: color 0.3s;
}
header .container nav a:not(#logo1) {
  max-width: 80px;
}
header .container nav a:not(#logo1):after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #d499b5;
  transition: width 0.3s ease, left 0.3s ease;
}
header .container nav a:hover {
  color: #d499b5;
}
header .container nav a:hover:not(#logo1):after {
  width: 100%;
  left: 0;
}

main section.banner {
  position: relative;
  overflow: hidden;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
main section.banner .background,
main section.banner .middle,
main section.banner .middle2,
main section.banner .foreground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  will-change: transform;
}
main section.banner .background {
  background-color: #191C2C;
  z-index: 1;
}
main section.banner .middle2 {
  background-image: url("../img/stars.png");
  z-index: 2;
  opacity: 1;
  scale: 100%;
  filter: blur(5px);
}
@media (max-width: 1024px) {
  main section.banner .middle2 {
    display: none;
  }
}
main section.banner .middle {
  background-image: url("../img/Background1.png");
  z-index: 3;
  opacity: 1;
  scale: 100%;
  filter: blur(3px);
}
@media (max-width: 1024px) {
  main section.banner .middle {
    display: none;
  }
}
main section.banner .foreground {
  background-image: url("../img/Background2.png");
  z-index: 4;
  scale: 100%;
}
@media (max-width: 1024px) {
  main section.banner .foreground {
    display: none;
  }
}
main section.banner .container {
  position: relative;
  z-index: 4;
  color: #fff;
}
main section.banner .container h1 {
  font-size: 6rem;
}
main section.banner .container h1 span {
  color: #F5C0D9;
}
main section.banner .container h3 {
  font-size: 2.5rem;
  font-weight: 100;
  margin: 1rem 0;
}
main section.banner .container h3 span {
  color: #F5C0D9;
}
main section.banner .container .button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background-color: #F5C0D9;
  color: #191C2C;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}
main section.banner .container .button:hover {
  background-color: #d499b5;
}
main .gallery {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #191C2C;
}
main .gallery h2 {
  color: #FFF;
  padding-bottom: 64px;
  margin-bottom: auto;
}
main .gallery .gallery-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  margin-bottom: 20px;
}
main .gallery .gallery-grid .gallery-item:nth-child(3) {
  grid-column: 1/span 2;
  justify-self: center;
  max-width: calc(50% - 8px);
}
@media (max-width: 768px) {
  main .gallery .gallery-grid .gallery-item:nth-child(3) {
    grid-column: 1;
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  main .gallery .gallery-grid {
    grid-template-columns: 1fr;
  }
}
main .gallery .gallery-grid .gallery-item.hidden {
  position: relative;
  overflow: hidden;
  opacity: 0;
  transition: all 1s;
}
main .gallery .gallery-grid .gallery-item.hidden .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .gallery .gallery-grid .gallery-item.hidden .content .hover-icon {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.85);
  background-color: rgba(212, 153, 181, 0.8);
  padding: 10px;
  border-radius: 100%;
  z-index: 2;
  transition: transform 0.3s ease, opacity 0.3s ease;
  pointer-events: none;
}
@media (max-width: 768px) {
  main .gallery .gallery-grid .gallery-item.hidden .content .hover-icon {
    font-size: 20px;
    top: 8px;
    right: 8px;
  }
}
main .gallery .gallery-grid .gallery-item.hidden .content img {
  width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}
main .gallery .gallery-grid .gallery-item.hidden .content .hover-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(251, 182, 209, 0.8);
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.4s ease;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
main .gallery .gallery-grid .gallery-item.hidden .content:hover img {
  transform: scale(1.1);
}
main .gallery .gallery-grid .gallery-item.hidden .content:hover .hover-icon {
  opacity: 0;
}
main .gallery .gallery-grid .gallery-item.hidden .content:hover .hover-card {
  opacity: 1;
}
main .gallery .gallery-grid .gallery-item.hidden .content:hover .buttonp {
  opacity: 1;
}
main .gallery .gallery-grid .gallery-item.hidden .content h3 {
  font-size: 40px;
  margin-bottom: 8px;
}
main .gallery .gallery-grid .gallery-item.hidden .content p {
  font-size: 20px;
  margin: 4px 0;
  transition: opacity 0.4s ease;
}
main .gallery .gallery-grid .gallery-item.hidden .content .buttonp {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  color: #FFF;
  font-size: 20px;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
  position: absolute;
  bottom: 10%;
  padding: 0.75rem 1.5rem;
  color: #191C2C;
  text-decoration: none;
  border-radius: 5px;
  transition: color 0.3s, opacity 0.4s ease;
  opacity: 0;
}
@media (max-width: 1024px) {
  main .gallery .gallery-grid .gallery-item.hidden .content .buttonp {
    font-size: 18px;
  }
}
main .gallery .gallery-grid .gallery-item.hidden .content .buttonp:hover {
  color: #d499b5;
}
main .gallery .gallery-grid .gallery-item.show {
  opacity: 1;
}
main .gallery .center {
  text-align: center;
}
main .gallery .center .button {
  transition: background-color 0.3s;
  color: #191C2C;
}
main .gallery .center .button:hover {
  background-color: #d499b5;
}
main .services {
  padding: 64px 20px;
  background-color: #191C2C;
}
main .services h2 {
  color: #FFF;
  text-align: center;
  margin-bottom: 32px;
  font-size: 2rem;
  font-weight: bold;
}
main .services .services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  margin-bottom: 32px;
}
@media (max-width: 768px) {
  main .services .services-grid {
    grid-template-columns: 1fr;
  }
}
main .services .services-grid .service {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  padding: 24px;
  background: linear-gradient(145deg, #25283b, #2a2d3e);
  border-radius: 16px;
  color: #ffffff;
  width: 100%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
main .services .services-grid .service:hover .icon {
  transform: rotate(10deg);
}
main .services .services-grid .service.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-in-out, transform 0.6s ease-in-out;
}
main .services .services-grid .service.show {
  opacity: 1;
  transform: translateY(0);
}
main .services .services-grid .service .content {
  flex: 1;
  text-align: left;
}
main .services .services-grid .service .content h3 {
  font-size: 40px;
  margin: 0;
  display: flex;
  align-items: center;
}
main .services .services-grid .service .content h3 .icon {
  margin-right: 8px;
}
@media (max-width: 1024px) {
  main .services .services-grid .service .content h3 .icon {
    display: none;
  }
}
@media (max-width: 1024px) {
  main .services .services-grid .service .content h3 {
    font-size: 40px;
  }
}
main .services .services-grid .service .content p {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 16px;
  color: #cfd1e1;
}
main .services .services-grid .service .content .icon {
  width: 80px;
  height: 80px;
  filter: brightness(0) invert(1);
  transition: transform 0.3s ease-in-out;
}
main .services .services-grid .service .content .button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  background: linear-gradient(145deg, #F5C0D9, #e3a3bf);
  color: #191C2C;
  text-decoration: none;
  border-radius: 8px;
  font-weight: 600;
  transition: background-color 0.3s ease-in-out, transform 0.2s;
}
main .services .services-grid .service .content .button:hover {
  background: #d499b5;
  transform: scale(1.05);
}
main .services .services-grid .service:nth-child(3) {
  grid-column: 1/span 2;
  justify-self: center;
  max-width: calc(50% - 16px);
}
@media (max-width: 768px) {
  main .services .services-grid .service:nth-child(3) {
    max-width: 100%;
    grid-column: 1;
  }
}
main .services .center {
  text-align: center;
}
main .services .center .button {
  transition: background-color 0.3s;
  color: #191C2C;
}
main .services .center .button:hover {
  background-color: #d499b5;
}
main .contact {
  background-color: #191C2C;
}
main .contact .container {
  padding-top: 128px;
  padding-bottom: 128px;
}
main .contact .container.hidden {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease-in-out, transform s ease-in-out;
}
main .contact .container.show {
  opacity: 1;
  transform: translateY(0);
}
main .contact .container h2 {
  color: #FFF;
}
main .contact .container .center {
  padding-bottom: 20px;
  text-align: center;
}
main .contact .container .center .button {
  transition: background-color 0.3s;
  color: #191C2C;
}
main .contact .container .center .button:hover {
  background-color: #d499b5;
}
@media (max-width: 767px) {
  main .hide-mob {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */